
html{
    scroll-behavior: smooth;
}
.nav-bg {
    background-color: rgb(89, 89, 89);
    box-shadow: 0px 3px 8px 0px #000;

}
.navbar-nav .nav-link{
    font-size: 24px;
    color: rgb(255, 248, 222);
}
.navbar-nav .nav-link:hover {
    color: whitesmoke;
    transition: 0.5s;
}
.navbar-nav .nav-link:focus {
    color: whitesmoke;
    background-color: black;
}
.nav-logo {
    color: rgb(255, 248, 222);
}
.nav-logo:hover {
    color: whitesmoke;
}
.nav-logo:focus {
    color: whitesmoke;
}

#首頁 {
    background: rgb(255, 248, 222);
}
.pic {
    width: 100%;
    max-width: 450px;
    display:inline-block;
}
#首頁 h1 {
    display:inline-block;
    margin-top: 50px;
    position: relative;
    left: 0px;
    top: 0px;
}
#首頁 h2 {
    display:inline-block;
    position: relative; /* 相对于浏览器窗口定位 */
}
#首頁 .線 {
    width: auto;
    height: 4px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
}
#學歷 {
    background: rgb(89, 89, 89);
    justify-content: center;
    height: 50vh;
}
#學歷 h1 {
    margin-top: 50px;
    display:inline-block;
    color: rgb(255, 255, 255);
}
#學歷 .線 {
    width: auto;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
#專長 {
    background: rgb(89, 89, 89);
    justify-content: center;
    height: 50vh;
}
#專長 h1 {
    margin-top: 50px;
    display:inline-block;
    color: rgb(255, 255, 255);
}
#專長 .線 {
    width: auto;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
#興趣 {
    background: rgb(89, 89, 89);
    justify-content: center;
    height: 50vh;
}
#興趣 h1 {
    margin-top: 50px;
    display:inline-block;
    color: rgb(255, 255, 255);
}
#興趣 .線 {
    width: auto;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
#關於 {
    background: rgb(89, 89, 89);
    justify-content: center;
    height: 50vh;
}
#關於 h1 {
    margin-top: 50px;
    display:inline-block;
    color: rgb(255, 255, 255);
}
#關於 .線 {
    width: auto;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
#作品 {
    background: rgb(89, 89, 89);
    justify-content: center;
    height: 50vh;
}
#作品 h1 {
    margin-top: 50px;
    display:inline-block;
    color: rgb(255, 255, 255);
}
#作品 .線 {
    width: auto;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.導覽列 {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0;
}

.t {
    color: rgb(255, 255, 255);
    text-align: left;
    margin:auto;
    width: 70%;
    padding: 10px;
}
.mycard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lt {
    text-align: left;
    margin:auto;
    width: 70%;
    padding: 10px;
}
.contact-github {
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    width: 100px;
    opacity: 1;
}
.contact-FB {
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    width: 100px;
    opacity: 1;
}
.contact-email {
    display: inline-block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    width: 100px;
    opacity: 1;
}
.contact-github:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.contact-FB:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.contact-email:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.item {
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
}

